# Link to the client's social media
NEXT_PUBLIC_CLIENT_LINK_EMAIL=""
NEXT_PUBLIC_CLIENT_LINK_LINKEDIN=""
NEXT_PUBLIC_CLIENT_LINK_GITHUB=""

# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""

# Node mailer configuration
APPLICATION_SMTP_HOST=""
APPLICATION_SMTP_USER=""
APPLICATION_SMTP_PASSWORD=""
APPLICATION_EMAIL_SENDER=""
APPLICATION_TO_EMAIL=""
APPLICATION_CC_EMAIL=""